/* 
%
rem > rem is relative to the parent element's font size
em > em is relative to the parent element's font size
vh > vh is relative to the viewport height
vw > vw is relative to the viewport width
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/*
#1
.parents {
    width: 100%;
    height: 100%;
    background-color: red;
}

.child {
    width: 100%;
    height: 10%;
    background-color: green;
}
*/

/*
#2
.parent {
    width: 90vw;
    height: 100vh;
    background-color: red;
}

.child {
    width: 50%;
    height: 10%;
    background-color: green;
}
*/

#parent {
    width: 100%;
    height: 100%;
    background-color: red;
}

.images {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: grid;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "f g j j"
        "h i j j"
    ;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 0;
    min-height: 0;
}

.image-a {
    grid-area: a;
}

.image-b {
    grid-area: b;
}

.image-c {
    grid-area: c;
}

.image-d {
    grid-area: d;
}

.image-e {
    grid-area: e;
}

.image-f {
    grid-area: f;
}

.image-g {
    grid-area: g;
}

.image-h {
    grid-area: h;
}

.image-i {
    grid-area: i;
}

.image-j {
    grid-area: j;
}