* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

#box {
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 79);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#child1 {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#child2 {
    width: 200px;
    height: 200px;
    background-color: crimson;
}

#child3 {
    width: 200px;
    height: 200px;
    background-color: forestgreen;
}